openapi: 3.0.0
info:
  title: Test Run API
  version: 1.0.0
servers:
  - url: https://app.testomat.io
security:
  - apiKey: []
paths:
  /api/reporter:
    post:
      summary: Create a new (empty) run
      description: |
        Creates a new test run in Testomat.io, which can be used to report the results of multiple tests. Returns a unique ID for the run.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRunData'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  uid:
                    type: string
                    description: Run ID used to send data to in following requests
                  url:
                    type: string
        400:
          description: Bad request - check the request body and/or parameters
        401:
          description: Unauthorized - check your API key

  /api/reporter/{runId}:
    put:
      summary: Update or finish existing run
      description: |
        Updates an existing test run in Testomat.io, which can be used to report the results of multiple tests. Requires a unique ID for the test run.
      parameters:
        - name: runId
          in: path
          description: The unique ID of the test run
          required: true
          schema:
            type: string
        - name: shared_run
          in: query
          description: Should be 'true' if multiple test executions are running in parallel and need to be reported to the same run
          required: true
          schema:
            type: boolean
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRunData'
      responses:
        200:
          description: OK
        400:
          description: Bad request - check the request body and/or parameters
        401:
          description: Unauthorized - check your API key

  /api/reporter/{runId}/testrun:
    post:
      summary: Send test results for a test run
      parameters:
        - in: path
          name: runId
          required: true
          description: The ID of the test run to report results for
          schema:
            type: string
      requestBody:
        description: The test data to report
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestData'
      responses:
        200:
          description: OK
        400:
          description: Bad request - check the request body and/or parameters
        401:
          description: Unauthorized - check your API key
        404:
          description: Not found - check the runId parameter

components:
  securitySchemes:
    apiKey:
      type: apiKey
      name: api_key
      in: query
  schemas:
    TestStatus:
      type: string
      enum:
        - passed
        - failed
        - skipped
    RunStatusEvent:
      description: |
        The final status of the run. Suffix _parallel and marks that only one part of this run has finished. To finish parallel run, send additional request with status=finish.
        Set status explicitly with `pass` or `fail` statuses or use `finish` status to calculate final status from test run results.
      type: string
      enum:
        - pass
        - fail
        - finish
        - pass_parallel
        - fail_parallel
        - finish_parallel
    CreateRunData:
      type: object
      properties:
        title:
          type: string
          description: The title of the test run
        tags:
          type: array
          items:
            type: string
          description: An array of tags to associate with the test run
        env:
          type: string
          description: The environment the test run was executed in
        group_title:
          type: string
          description: Add a run to rungroup matching this group by its title. If rungroup does not exist, it will be created.
        parallel:
          type: boolean
          description: Whether to create a parallel run
        kind:
          type: string
          enum: [automated, manual, mixed]
          description: Run kind. Defaults to `automated`.
        ci:
          $ref: '#/components/schemas/CiLaunchParams'
          description: |
            Optional. When present, the server creates the run and triggers a
            build on the named CI profile (configured on the project) with the
            supplied grep pattern and config overrides.
      example:
        title: 'My Test Run'
        env: 'production'
        group_title: 'Release 1.0'
        tags: ['smoke', 'api']
        ci:
          profile: 'github'
          grep: 'T123|T456'
          override:
            branch: 'develop'

    CiLaunchParams:
      type: object
      required: [profile]
      properties:
        profile:
          type: string
          description: Name of the CI profile configured on the project (e.g. `github`, `gitlab`, `jenkins`).
        grep:
          type: string
          description: Pre-resolved grep string passed verbatim to the CI workflow (e.g. `T1|T2|S3`).
        override:
          type: object
          additionalProperties: true
          description: Key-value overrides merged into the CI profile config at launch time (e.g. `branch`, `ref`, env vars).
        type:
          type: string
          enum: [plan, run, run_failed, relaunch, label, requirement, tag, issue, jira, test, suite]
          description: Alternative to `grep` — ask the server to resolve a grep via the named selector type.
        id:
          type: string
          description: UID or identifier for the `type` lookup (e.g. a plan UID when `type=plan`).
      example:
        profile: 'github'
        grep: 'T123|T456'
        override:
          branch: 'develop'

    UpdateRunData:
      type: object
      properties:
        status_event:
          $ref: '#/components/schemas/RunStatusEvent'
          description: The final status of the run. Suffix _parallel and marks that only one part of this run has finished.
        duration:
          type: number
          description: The duration of the run in seconds
        create_tests:
          type: boolean
          description: Whether to create new tests or update existing ones
        tests_count:
          type: integer
          description: The total number of tests to be run
        passed_count:
          type: integer
          description: The number of tests that passed
        failed_count:
          type: integer
          description: The number of tests that failed
        skipped_count:
          type: integer
          description: The number of tests that were skipped
        tests:
          type: array
          items:
            $ref: '#/components/schemas/TestData'
          description: The details of each test
        ci:
          $ref: '#/components/schemas/CiLaunchParams'
          description: >
            Launch this already-prepared run on CI. When present, the run is
            triggered on the named CI profile (with the resolved grep or
            `type`/`id` selector) instead of applying a normal status update.
      example:
        status_event: 'finish'
        duration: 25.5
        tests_count: 10
        passed_count: 8
        failed_count: 2

    TestData:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/TestStatus'
          description: The status of the test
        rid:
          type: string
          description: Unique identifier of test report (if the test is reported several times)
        title:
          type: string
          description: The title of the test
        suite_title:
          type: string
          description: The title of the test suite
        suite_id:
          type: string
          description: The ID of the test suite
        test_id:
          type: string
          description: The ID of the test
        message:
          type: string
          description: A message describing the error
        stack:
          type: string
          description: A stack trace for the error
        run_time:
          type: number
          description: The time it took to execute the test, in seconds
        example:
          type: object
          description: An example associated with the test
        artifacts:
          type: array
          items:
            type: string
          description: An array of URLs for uploaded artifacts associated with the test
        substatus:
          type: string
          description: Optional substatus of the test
        links:
          type: array
          items:
            $ref: '#/components/schemas/LinkObject'
          description: An array of link objects that can be assigned to the test case. Supports test links and labels
        steps:
          type: array
          items:
            $ref: '#/components/schemas/Step'
          description: The steps taken during the test
        code:
          type: string
          description: The code executed during the test
        meta:
          type: object
          description: Additional metadata associated with the test
          example: { 'key': 'value' }
        overwrite:
          type: boolean
          description: Whether to overwrite previous status to avoid retry counters. Defaults to false
      example:
        title: 'Should login successfully'
        status: 'passed'
        suite_title: 'Authentication Tests'
        test_id: '@Ta0b0c0d0'
        run_time: 0.5

    Step:
      type: object
      properties:
        category:
          type: string
          maxLength: 250
          description: The category of the step (framework, user, hook)
        title:
          type: string
          maxLength: 250
          description: The title of the step
        duration:
          type: number
          description: The duration of the step in seconds
        log:
          type: string
          maxLength: 250
          description: Log output for the step
        status:
          type: string
          enum:
            - passed
            - failed
            - none
            - custom
          description: The status of the step
        artifacts:
          type: array
          items:
            type: string
            format: uri
          description: An array of artifact URLs (screenshots) for this step
        steps:
          type: array
          items:
            $ref: '#/components/schemas/Step'
          description: An array of nested steps
        error:
          type: object
          description: An error object associated with the step
        options:
          type: object
          $ref: '#/components/schemas/StepOptions'
          description: Options for the step, such as whether it should be boxed

    StepOptions:
      type: object
      properties:
        box:
          type: boolean
          description: Indicates if the step should be boxed

    LinkObject:
      type: object
      description: A link object that can represent different types of links or labels
      oneOf:
        - type: object
          properties:
            test:
              type: string
              description: Test identifier for linking to specific tests
          required:
            - test
          additionalProperties: false
          example:
            test: 'TEST-123'
        - type: object
          properties:
            label:
              type: string
              description: Label for categorizing tests (e.g., 'smoke', 'severity:high')
          required:
            - label
          additionalProperties: false
          example:
            label: 'smoke'
        - type: object
          properties:
            jira:
              type: string
              description: JIRA issue identifier for linking to specific JIRA tickets
          required:
            - jira
          additionalProperties: false
          example:
            jira: 'PROJ-123'
