name: Build docs
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build Docs
    steps:
      # first checkout your code
      - name: Checkout
        uses: actions/checkout@v2

      # then use redoc-cli-github-action to generate your HTML bundle
      - name: Generate and rename Redoc documentation
        run: |
          npx redoc-cli bundle testomat-api-definition.yml
          mv redoc-static.html index.html
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3 # https://github.com/peaceiris/actions-gh-pages
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: .
          force_orphan: true
          exclude_assets: '.github,src,bin,test,LICENSE,README.md'
      - name: Build docs.testomat.io
        run: |
          curl -X POST https://api.cloudflare.com/client/v4/pages/webhooks/deploy_hooks/c55b0f51-acc8-40a5-a6e3-34d8b1be1d5f
